body {
    background: url(../img/bg-pic.jpeg);
}
.bg-header {
    text-align: center;
    margin: 20px;
    background-color: #fff;
}

.jumbotron {
    margin-top: 80px;
    padding: 40px;
    position: relative;
}

.bg-section {
    
}

#topleft {
    background: green;
}
#topRight {
    background: red;
}
#bottomLeft {
    background: yellow;
}
#bottomRight {
    background: blue;
}    
#topleft,
#topRight,
#bottomLeft,
#bottomRight {
    display: inline-block;
    height: 200px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
